<%
  if current_ma_user.role.upcase.split(',').include?("A")
    doc = Mindapp::Doc.all.desc(:created_at)
  else
    doc = Mindapp::Doc.where(user: current_ma_user).desc(:created_at)
  end
%>
<div class="field" data-role="fieldcontain">
  <%= label_tag :filename, 'Document filename' %>
  <%= select_tag :filename, options_from_collection_for_select(doc, :id, :filename), "data-native-menu"=>"false" %>
</div>

